<div id="<%= dom_id instructor_info %>">
  <p>
    <strong>User:</strong>
    <%= instructor_info.user_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= instructor_info.description %>
  </p>

  <p>
    <strong>Profile img path:</strong>
    <%= instructor_info.profile_img_path %>
  </p>

</div>
