<h1>Editing instructor info</h1>

<%= render "form", instructor_info: @instructor_info %>

<br>

<div>
  <%= link_to "Show this instructor info", @instructor_info %> |
  <%= link_to "Back to instructor infos", instructor_infos_path %>
</div>
